
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <img class="logo"src='https://i.imgur.com/CvxQG6M.png' >

      </div>

      <ul class="list-unstyled components">
          <p>Loged in as </p>
          <li>
            <a href="/">Creat New</a>
          </li>
          <li >
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">May Password</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="/users">social</a>
                  </li>
                  <li>
                      <a href="#">work related</a>
                  </li>
                  <li>
                      <a href="#">entertainment</a>
                  </li>
              </ul>
          </li>

          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Organization</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="/employees">Joel's Business</a>
                  </li>
                  <li>
                      <a href="#">Priyanka's Business</a>
                  </li>
                  <li>
                      <a href="#">Scarlet's</a>
                  </li>
              </ul>
          </li>
          <li>
            <a href="/employees">Employees</a>
        </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
    </nav>
