
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <img class="logo"src='https://i.imgur.com/CvxQG6M.png' >

      </div>

      <ul class="list-unstyled components">
          <p>Loged in as secret@secret</p>
          <li>
            <a href="/">Creat New</a>
          </li>
          <li>
            <a href="/users">My Passwords</a>
        </li>
          <li >
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Type</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="/social">social</a>
                  </li>
                  <li>
                      <a href="/work related">work related</a>
                  </li>
                  <li>
                      <a href="/entertainment">entertainment</a>
                  </li>
              </ul>
          </li>

          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Organization</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="/pear">Pear</a>
                  </li>
                  <li>
                      <a href="/strawberry">Strawberry</a>
                  </li>
                  <li>
                      <a href="/peach">Peach</a>
                  </li>
              </ul>
          </li>
          <li>
            <a href="/employees">Employees</a>
        </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
    </nav>
