<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
        <div id='content'>
          <%- include('partials/nav') %>
            <div class="jumbotron text-center">
              <h1>Joes's business</h1>
              <p></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">email</th>
                  <th scope="col">username</th>
                  <th scope="col">password</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>secret@secret.com</td>
                  <td>computer1</td>
                  <td>12345</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>secret@secret.com</td>
                  <td>computer2</td>
                  <td>123</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>secret@secret.com</td>
                  <td>computer3</td>
                  <td>1234</td>
                </tr>
              </tbody>
            </table>

        </div>
    </div>

</html>
