
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
      <div id='content'>
        <%- include('partials/nav') %>
        <header>
        <div class="jumbotron text-center">
          <h1>My Employees</h1>
          <p></p>
        </div>
      </header>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">LastName</th>
              <th scope="col">firstName</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Department</th>
              <th scope="col">Organization</th>
              <th scope="col">start_date</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id='employeetable'>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div id="news-slider" class="owl-carousel">
                  <div class="post-slide">
                      <div class="post-img">
                          <span class="over-layer"></span>
                      </div>
                      <div class="post-review">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <span class="post-date">Nov 10,2015</span>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at erat, non placerat urna. Pellentesque in convallis risus. Ut dapibus elementum.
                          </p>
                      </div>
                  </div>

                  <div class="post-slide">
                      <div class="post-img">
                          <span class="over-layer"></span>
                      </div>
                      <div class="post-review">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <span class="post-date">Nov 12,2015</span>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at erat, non placerat urna. Pellentesque in convallis risus. Ut dapibus elementum.
                          </p>
                      </div>
                  </div>

                  <div class="post-slide">
                      <div class="post-img">
                          <span class="over-layer"></span>
                      </div>
                      <div class="post-review">
                          <h3 class="post-title"><a href="#">Latest News Post</a></h3>
                          <span class="post-date">Nov 14,2015</span>
                          <p class="post-description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at erat, non placerat urna. Pellentesque in convallis risus. Ut dapibus elementum.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
    </body>
</html>


