
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
      <div id='content'>
        <%- include('partials/nav') %>
        <div class="jumbotron text-center">
          <h1>My Password</h1>
          <p></p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Department</th>
              <th scope="col">firstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Password</th>
              <th scope="col">start_date</th>
            </tr>
          </thead>
          <tbody id='employeetable'>
          </tbody>
        </table>
      </div>
    </div>
</html>


