<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <!-- Meta Information -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Style Sheets -->



    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

     <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/employees.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
  </head>

  <body>
    <nav> EVENTUAL NAV BAR </nav>
    <header>
      <div>
        <img src=https://74yxs9p9ml-flywheel.netdna-ssl.com/wp-content/themes/axine/img/LOGO.png>
      </div>
      <br>
      <div>
        <h1>Axine</h1>
      </div>
    </header>

     <!-- Page-specific (main) content here -->
     <main class="container">
      <section class="create-user">
          <form id="new-user-form" action="/employees" method="POST"  >
          <h2 class="form-heading">Add An Employee!</h2>
          <input name="first-name" type="name" class="form-control" placeholder="First-name" />
          <input name="last-name" type="name" class="form-control" placeholder="Last-Name" />
          <input name="department" type="name" class="form-control" placeholder="Department" />
          <input name="start-Date" type="date" class="form-control" placeholder="Date" />
          <input name="email" type="email" class="form-control" placeholder="Email" autofocus="true"/>
          <input name="password" type="password" class="form-control" placeholder="Password" />
          <input name="passwordConfirm" type="password" class="form-control" placeholder="Password confirm" />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        </form>

        <div class="limiter">
          <table>
            <thead>
              <tr class="row100 head">
                <th class="cell100 column1">First</th>
                <th class="cell100 column2">Last</th>
                <th class="cell100 column3">Department</th>
                <th class="cell100 column4">Start date</th>
                <th class="cell100 column5">Last Activity</th>
                <th class="cell100 column6">Email</th>
                <th class="cell100 column7">Password</th>
                <th class="cell100 column8">SecurePass</th>
                <td class="cell100 column9">Active</td>
              </tr>
            </thead>
            <tbody class = "employees">
            </tbody>
          </table>
        </div>


    </section>




    </main>
    <h2></h2>
  </body>
</html>
