<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
      <div id='content'>
        <%- include('partials/nav') %>
        <div class="jumbotron text-center">
          <h1>Creat New Password</h1>
          <p>Resize this responsive page to see the effect!</p>
        </div>

        <div class="container">
          <!-- <div class="col-sm-5"> -->
          <!-- </div> -->
          <div class="col-sm-6">
                        <!-- <div class="line"></div> -->
            <!-- <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                New Password
              </a>

              <div class="collapse" id="collapseExample">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Url</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Url">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Username</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Password</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Password">
                  </div>

                  <div class="form-row">

                    <div class="form-group col-md-4">
                      <label for="inputState">Folder</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>social</option>
                        <option>work related</option>
                        <option>entertainment</option>
                      </select>
                    </div>


                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </p>
          </div>
          <a class="btn btn-primary" data-toggle="collapse" href="#newCompany" role="button" aria-expanded="false" aria-controls="collapseExample">
            New Company
          </a>

          <div class="collapse" id="newCompany">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Company Name</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="company name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Username</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Password</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">

                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </p>
      </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
