<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
      <div id='content'>
        <%- include('partials/nav') %>
        <div class="jumbotron text-center">
          <h1>Creat New Password</h1>
          <p>Resize this responsive page to see the effect!</p>
        </div>

        <div class="container">
          <div class="flip-card col-md-6">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.imgur.com/g0kemSp.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <form>
                <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputEmail4">Url</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Url">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Username</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Username">
              </div>
            </div>
              <div class="form-group">
              <label for="inputAddress">Password</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Password">
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputState">Folder</label>
                  <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>social</option>
                  <option>work related</option>
                  <option>entertainment</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
  </div>
</div>


          <div class="flip-card col-md-6">
            <div class="flip-card-inner">
              <div class="flip-card-front">

                <img src="https://i.imgur.com/Y8zRNgD.jpg" alt="Avatar" style="width:300px;height:300px;">


              </div>
              <div class="flip-card-back">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Url</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Url">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Username</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Password</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Password">
                  </div>

                  <div class="form-row">

                    <div class="form-group col-md-4">
                      <label for="inputState">Folder</label>
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>social</option>
                        <option>work related</option>
                        <option>entertainment</option>
                      </select>
                    </div>


                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </p>
      </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
