<ion-content class="scroll-content ionic-scroll"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
  <span class="item item-header image-royal margin-top-15" style="text-align: center;">
    <img style="width: 227px;height: 65px;" align="center" ng-src="img/snappy/business-configuration-logo.png" src="img/snappy/business-configuration-logo.png">
    <p class="translateLang">
      <a class="pointer" ng-click="changeLanguage('en')">English</a> |
      <a class="pointer" ng-click="changeLanguage('zh')">中文</a>
    </p>
    <div class="ng-binding">Hello, Walter Liu</div>
    <!--
    <select class="selectpicker" data-width="fit">
      <option ng-click="changeLanguage('en')" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
      <option ng-click="changeLanguage('zh')" data-content='<span class="flag-icon flag-icon-zh"></span> Español'>中文</option>
    </select>
    -->
  </span>
  <ul class="list" id="menu">
    <!--
    <a ui-sref="app.home"
       ui-sref-active="active"
       class="item item-icon-left"
       menu-close>
      <i class="icon ion-home"></i>
      Home
    </a>
    <a ui-sref-active="active"
       class="item item-icon-left" ng-click="toggleGroup('store')">
      <i class="icon ion-home"></i>
      Store
        <i class="item-icon right" class="icon" ng-class="isGroupShown('store') ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        <a ui-sref="app.profile.general"
           ui-sref-active="active"
           class="item item-icon-left"
           menu-close ng-show="isGroupShown('store')">
          <i class="icon ion-android-restaurant"></i>
          Store Profile
        </a>
        <a ui-sref="app.storeStaff"
           ui-sref-active="active"
           class="item item-icon-left"
           menu-close ng-show="isGroupShown('store')">
          <i class="icon ion-ios-people"></i>
          Store Staff
        </a>
    </a>
    -->
    <a ui-sref="app.dashboard" ui-sref-active="active" class="item item-icon-left ng-binding active" menu-close="" ng-hide="false" href="#/app/dashboard">
      <i class="icon ion-stats-bars"></i>
      Dashboard
    </a>
    <a ui-sref="app.guest" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/guest">
      <i class="icon ion-ios-people"></i>
      Creat New
    </a>
    <a ui-sref="app.reservation_lineup" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/reservation_lineup">
      <i class="icon ion-person-stalker"></i>
      Lineup &amp; Reservation
    </a>
    <a ui-sref="app.membership" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/membership">
      <i class="icon ion-ribbon-b"></i>
      Membership
    </a>
    <a ui-sref="app.giftcard" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/giftcard">
      <i class="icon ion-card"></i>
      GiftCard
    </a>
    <a ui-sref="app.storeStaff" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-show="canManageStoreStaff()" href="#/app/storeStaff">
      <i class="icon ion-person-stalker"></i>
      Store Staff
    </a>
    <a ui-sref="app.profile.general" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" href="#/app/profile/general">
      <i class="icon ion-android-restaurant"></i>
      Store Profile
    </a>
    <a ui-sref="app.storeTag" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" href="#/app/storeTag">
      <i class="icon ion-ios-pricetags"></i>
      Tag Management
    </a>
    <a ng-click="onRestaurantMenu()" class="item item-icon-left ng-binding" menu-close="" ng-hide="false">
      <i class="icon ion-ios-list"></i>
      Menu Management
    </a>
    <a ui-sref="app.loging" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/loging">
      <i class="icon ion-clipboard"></i>
      Transactions
    </a>
    <a ui-sref="app.account" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/account">
      <i class="icon ion-ios-contact"></i>
      Account
    </a>
    <a ui-sref="app.customer" ui-sref-active="active" class="item item-icon-left ng-binding ng-hide" menu-close="" ng-hide="true" href="#/app/customer">
      <i class="icon ion-person"></i>
      Customer Management
    </a>
    <a ui-sref="app.stats" ui-sref-active="active" class="item item-icon-left ng-binding ng-hide" menu-close="" ng-hide="true" href="#/app/stats">
      <i class="icon ion-stats-bars"></i>
      Statistics
    </a>
    <a ui-sref="app.settings" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-hide="false" href="#/app/settings">
      <i class="icon ion-gear-b"></i>
      Settings
    </a>
    <a ui-sref="login" ui-sref-active="active" class="item item-icon-left ng-binding" menu-close="" ng-click="logout()" href="#/login">
      <i class="icon ion-android-exit"></i>
      Logout
    </a>
  </ul>
</div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
