
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class='wrapper'>
      <%- include('partials/sidebar') %>
      <div id='content'>
        <%- include('partials/nav') %>
        <header>
        <div class="jumbotron text-center">
          <h1>Peach</h1>
          <p></p>
        </div>
      </header>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
              <th scope="col">Department</th>
              <th scope="col">start_date</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id='peachtable'>
          </tbody>
        </table>
      </div>
    </div>

    </body>
</html>


