.navbar {
  /* padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
  width: 100%;
  background-color: #54106e;
  height: 70px;
  top: 0;
  /* color : #FFFFFF; */
  padding: 1.5em;
  position: fixed;
  background-image: url("https://i.imgur.com/fyN9ZbX.jpg");
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/*
nav span {
 font-family: 'Bungee', cursive;
 font-size: xx-large;
} */
#rightnav {
  float: right;
  color: #54106e 255, 255, 255;
  margin-left: 70%;
}
